<div>
  <button type="button" class="btn btn-default" ng-click="main.addToList()">Add item to array</button>
  <ul isotope-container="isotope-container" class="houbeb">
    <li ng-repeat="x in main.xList" isotope-item="isotope-item" class="kindling {{x.class}}"
        ng-click="main.removeItem(this)">
      <div class="symbol">{{x.name}}</div>
      <div class="weight" date="{{x.date}}">{{x.date|date}}</div>
      <div class="number" number="{{x.number}}">{{x.number}}</div>
    </li>
  </ul>
</div>
